# Ignore node_modules folders
Frontend/node_modules/
Backend/node_modules/
node_modules/

# Ignore environment variables file
Backend/.env

# Expo specific files and folders
Frontend/.expo/
Frontend/.expo-shared/
Frontend/.cache/

